body{
    font-family: neusa-next-std,sans-serif;
    background-color: #ffffff;
}

/*Linkek*/

a{
    text-decoration: none;
    color: green;
}

link:visited{
    color: green;
    text-decoration: none;
}

/*Header formazasok*/
header {
    display: flex;
    line-height: 120px;
    background-image: url("kepek/headerbg.svg");
}

#logo{
    padding-left: 30px;
}

#linklista h2{
    list-style: none;
    padding-top: 50px;
    display: inline-block;
    padding-left: 20px;
}

/* index/main */

main li{
    color: white;
    text-align: center;
    display: inline-block;
    list-style: none;
}
#gekko{
    float: left;
}
main{
    color: #047207;
    margin: auto;
}

footer{
    text-align: center;
}

.caption .content{
    text-align: center;
}
