body{
    font-family: 'Helvetica Neue', sans-serif;
    color: black;
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
}


@font-face {
  font-family: 'gentona';
  src: url('font/gentona_bold-webfont.woff2') format('woff2'),
       url('font/gentona_bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

/*Linkek*/  

a{
    text-decoration: none;
    color: white;
}


link:visited{
      text-decoration: none;
}

/*Header formazasok*/
header {
    display: flex;
    height: 70px;
    box-shadow: inset 0px 50px 50px rgba(25, 25, 25, 0.67);
    /*Header FIXED ON TOP*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

/*BELEPES ÉS REGISZTRÁCIÓ */
#belepesregisztracionavmain{
  display: flex;
  vertical-align: middle;
  justify-content: center;
}


#belepesregisztracionav{
  position: absolute;
  top: 0;
  right: 0;
}
#belepesregisztracionavul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.loginandregistration{
  display: inline-block;

}
.belepesregisztracionaa{
  margin-top: 25px;
  margin-right: 10px;
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  transition: font-size 0.2s, color 0.2s;
}

.belepesregisztracionaa:hover {
  font-size: 18px;
  color: #888;
}


main{
  position: relative;
  font-family: 'gentona';
  margin-top: 0px;
  margin-bottom: 0px;
}


#logo{
    padding-left: 30px;
    padding-right: 60px;
    height: 140px;
    width: 140px;
    margin-top: 0px;
}

#logo:hover {
  opacity: 0.8;
  transform: scale(1.1);
  transition: all 0.3s ease;  
}

#linklista h2{
    list-style: none;
    padding-top: 20px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 20px;
    font-size: 20px;
}

#linklista h2:hover{
  color: #84d185;
  transition: ease 0.6s;
}
/*index div formazasok*/

.mainindex{
  color:  white;
  text-align: center;
  line-height: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("kepek/pexels.jpg");
  background-size: 100%;
  height: 800px;
  margin: 0px;
}
.maincaption{
  padding-top: 15px;
  transform: rotate(4deg);
  font-size: 60px;
  z-index: 300;
  background-color: #E0DC3D;
}

#content_1{
  background-color: #bbec7a;
  transform: rotate(-2deg);
  width: 1000px;
  z-index: 1;
}

#content_1, #content_2, #content_3{
  font-size: 30px;
}


/*Kártyák kedvenc állatfajaitoknál*/

#card_1:hover, #card_3:hover{
  transform: rotate(-5deg);
  transition: ease-in-out 0.8s;
}

#card_2:hover{
  transform: rotate(5deg);
  transition: ease-in-out 0.8s;
}


#card_1, #card_2, #card_3{
  font-size: 30px;
  color: black;
  margin: 30px;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  align-items: center;
  width: 190px;
  height: 100px;
  border-radius: 30px;
  background:white;
  box-shadow: 5px 5px 10px #07592f,
             -5px -5px 10px #07592f;
  transition: ease-in-out 0.8s;
}

.list{
  background-color: #0FBE64;
  margin-top: -120px;
  padding: 0;
  height: 500px;
  background-size: 100%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  display: flex;
}

.captionindex{
  color: white;
  text-align: center;
  font-size: 60px;
}

/*bemutatkozas formazas*/
.bemutatkozas{
  height: 300px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.captionbemut{
  background-color: #bbec7a;
}


/*allatkertunk cime es fade-in-je*/
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.allatkertunkcim{
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #bbec7a;
    transform: rotate(1deg);

}

.allatkertunkcim2{
    text-align: center;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    padding: 10px;
    margin-bottom: 10px;
    background-color: #bbec7a;
    transform: rotate(-0.2deg);
}


/*allatkertunk szovege*/
.fehermain{
  margin-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
}
.maintext{
    line-height: 1.5;
    text-shadow: 0.5px 0.5px #ccc;
    text-align: center;

}

/*allatokrol a kep formazasa stb XDDDDDD*/

.allatokrolkep {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  }
  
  .item {
    flex: 1;
    margin-right: 20px;
    text-align: center;

  }
  
  .item:last-child {
    margin-right: 0;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .caption {
    margin-top: 10px;
    font-weight: bold;
  }
  .allatokcim{
   text-align: center;
    
  }

  /*Latogatas oldal formazasok*/
  .latogatasmaindiv{
    color:  white;
    text-align: center;
    line-height: 400%;
    justify-content: center;
    align-items: center;
    display:flex;
    background: url("kepek/latbg.svg");
    background-size: 60%;
    height: 500px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .maincaptionlat{
    margin-top: 30px;
    font-size: 60px;
    z-index: 300;
    background-color: #E0DC3D;
    transform: rotate(-2deg);
  }
  #card_4:hover, #card_6:hover{
    transform: rotate(-5deg);
    transition: ease-in-out 0.8s;
  }
  
  #card_5:hover{
    transition: ease-in-out 0.8s;
  }

  #card_5:hover img{
    transform: scale(260%);
    transition: ease-in-out 0.8s;
  }
  
  #card_5 img{
    margin-top: 20px;
    transition: ease-in-out 0.8s;
  }
  .cardtable{
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .cardtable table, .cardtable table th, .cardtable table td{
    border: 1px solid rgb(84, 84, 234);
    border-collapse: collapse;
    font-size: 10px;
    text-align: center;
    justify-content: center;
  }
  .cardtable table{
    width: 200px;
  }


  #cardcaption{
    background-color: #E0DC3D;
    line-height: 18px;
    width: 130px;
    text-align: center;
    justify-content: center;
  }
  
  #card_4, #card_5, #card_6 {
    font-size: 10px;
    color: black;
    margin: 30px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    text-align: center;
    width: 190px;
    height: 300px;
    background:white;
    box-shadow: 5px 5px 5px #08321c,
               -5px -5px 5px #08321c;
    transition: ease-in-out 0.8s;
  }

  #card_7{
    font-size: 30px;
    color: black;
    margin: 30px;
    justify-content: center;
    vertical-align: middle;
    align-items: center;
    width: 600px;
    height: 700px;
    background-color:white;
    box-shadow: 5px 5px 5px #08321c,
               -5px -5px 5px #08321c;
    transition: ease-in-out 0.8s;
  }



  .latogatascontent{
    color:  white;
    display: flex;
    justify-content: right;
    align-items: center;
    background: url("kepek/latogatasbg.jpg");
    background-size: 100%;
    height: 900px;
    margin: 0px;
    text-align: center;
  }

  .contentcaption{
    font-size: 50px;
    text-align: center;
  }

  .latogataslist li{
    font-size:  20px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .cardtablelat table, .cardtablelat table th, .cardtablelat table td{
    border: 1px solid rgb(84, 84, 234);
    border-collapse: collapse;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    width: 200px;
  }
  .cardtablelat table{
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  /*Programok.html cim*/
.programokcim{
        font-family: 'Helvetica Neue', sans-serif;
        font-size: 1.6em;
        color: #000000;
        text-shadow: 2px 2px 4px #b8b8b8;
        border-bottom: 2px solid #4f9c34;
        padding-bottom: 10px;
        margin-bottom: 20px;
        text-align: center;
        letter-spacing: 1px;
  }

    /*Programok.html a programok listázása és annak animációja :)*/
    
    .image-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    
    .image-container img {
      width: 100%;
      max-width: 100px; 
      height: auto;
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 6s;
      animation-fill-mode: forwards;
    }
    
    .image-container img:nth-child(2) {
      animation-delay: 1s;
    }
    
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    
    @media (min-width: 768px) {
      .image-container img {
        max-width: 635px;
      }
    }

    /*Kapcsolat oldal formazasok*/
    .kapcsolatmaindiv{
      color:  black;
      text-align: left;
      line-height: 30px;
      justify-content: center;
      align-items: center;
      display:flex;
      background-image: url("kepek/kapcsolatbg.jpg");
      background-size: 100%;
      height: 750px;
      margin-bottom: 0px;
    }

    .kapcsolatmaindiv main{
      margin-top: 20px;
      padding: 20px;
    }


  .kapcsolatcaption{
      background-color: #4f9c34;
      color: white;
      width: 700px;
      font-size: 40px; 
      line-height: 50px;;
    }

    #card_8{
      font-size: 20px;
      color: black;
      margin: 30px;
      justify-content: left;
      vertical-align: middle;
      align-items: left;
      width: 750px;
      height: 600px;
      text-align: center;
      background-color:white;
      box-shadow: 5px 5px 5px black,
                 -5px -5px 5px black;
      transition: ease-in-out 0.8s;
      margin-top: 60px;
    }

    /* program.html cimek, tablazat, td */
    .programoksidecimek{
      margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #bbec7a;
    color: black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    }

    .programoktable {
      border-collapse:collapse;
      margin: 0 auto;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
      width: auto;
    }
  
    .programoktd {
      padding: 10px;
      border: 1px solid #ccc;
    }
    /* Form */

    .form{
      font-family: 'gentonta';
      color:  black;
      text-align: left;
      line-height: 30px;
      justify-content: center;
      align-items: center;
      display:flex;
      background-color: #0FBE64;
      height: 750px;
      margin-bottom: 0px;
      background-repeat: no-repeat;
    }

    #card_9{
      font-size: 20px;
      color: black;
      margin: 30px;
      justify-content: center;
      vertical-align: middle;
      align-items: center;
      width: 750px;
      height: 500px;
      text-align: center;
      background-color:white;
      box-shadow: 5px 5px 5px black,
                 -5px -5px 5px black;
      transition: ease-in-out 0.8s;
      margin-top: 60px;
    }

    legend, label,textarea, input[type="text"], form input[type="email"], input[type="submit"], input[type="button"]{
      font-family: 'gentona';
    }

    legend{
      background-color:#E0DC3D;
    }


    form{
      margin-top: 50px;
    }
    textarea{
      width: 300px;
    }

    .uzenetfield{
      display: flex;
      align-items: center;
      margin-left: 200px;
    }
    
  /*Footer*/
  footer{
    text-align: center;
    background-color: #bbec7a;
    color: black;
    height: 30px;
    font-weight: bold;
  }
  
  /*Fiok oldali css*/
 .fiokmain{
  text-align: left;
  line-height: 30px;
  justify-content: center;
  align-items: center;
  display:flex;
  background-image: url("kepek/flamingo.jpg");
  background-size: 100%;
  height: 750px;
  margin-bottom: 0px;
 }

 .belepes {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: #1e1e1e;
  padding: 30px;
  border: 1px solid #3d3c3c;
  border-radius: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 50px;
}

.belepes input {
  height: 35px;
  outline: none;
  border: 2px solid orange;
  background: transparent;
  padding: 20px 10px;
  border-radius: 5px;
  transition: .5s;
  color: white;
  font-size: 20px;
}

.belepes input:focus {
  background: orange;
}

.belepes button {
  width: 100%;
  color: white;
  transition: .5s;
  font-size: 20px;
  outline: none;
  border: none;
  height: 45px;
  border-radius: 5px;
  background: orange;
  align-self: flex-end;
}
    
  

  

    
    

  
  
  
  
  
  
  
  
  
  
  